/* Reiniciar margenes, bordes, ect*/

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


html,body{
    height: 100%;
    width: 100%;
}

/* maquetado con grid */

/* .contenedor-grid {
    display: grid;
    min-height: 100%;
    grid-template-areas:
    "header" 
    "main"
    "footer";
} */

/* barra de navegacion */



.logo {
    font-size: 30px !important;
    padding-left: 40px;
    color: rgb(255, 255, 255);
    text-decoration-line: overline !important; 
    text-decoration-color: rgb(0, 0, 0) !important;
    font-family: 'Bebas Neue', cursive;
    text-transform: uppercase ;
    line-height: 80px;
    text-shadow: 0 1px rgb(0, 0, 0);
    width: max-content;
    
}

.logo span {
    color: rgba(143, 23, 47, 0.856);

}

.nav-link {
    font-size: 15px;
    margin: 10px;
    color: rgb(255 255 255);
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    z-index: 99;
}

.nav-link:hover{
    color:rgba(143, 23, 47, 0.856) ;
}

/* .nav-menu {
    margin-right: 40px;
    display: flex;

}

.nav-menu-link {
    text-decoration: none;
    color: rgb(7, 44, 92);
    
}

.nav-menu-link:hover {
    color: aliceblue;
    border-top: 2px solid rgba(0, 0, 0, 0.699);
    transform: scale(0.8);
}


.nav-menu-item {
    list-style: none;
    text-decoration: none;
    padding: 40px;
    font-family: 'Open Sans', sans-serif;
    font-size: 22px;
    text-transform: uppercase;
    line-height: 40px;
    width: max-content;
    transition: all 300ms;
}  

.nav-menu-item:hover {
    background-color: rgba(0, 0, 0, 0.137);
} */
/* estilo pagina home */

.banner-image {
    background-image: linear-gradient(135deg, rgba(0, 32, 36, 0.774) 20%, rgba(10, 173, 255, 0.733) 50%, rgba(0, 213, 255, 0.486) 100%), url(./pages/Media/fondo.jpeg) ;
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
    width: auto;
    background-size: 200%;
    animation: fondoanimado 90s infinite;
}

@keyframes fondoanimado {
    0%{
        background-position: 30% 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0% 30%;
    }
    
}

.contenido {
    padding-top: 95px;
    height: auto!important;
}


.contenidoHome__titulo {
    background-color: rgba(0, 0, 0, 0.486);
    font-size: 40px;
    color: rgb(255, 255, 255);
}

.contenidoHome__boton {
    margin-top: 30px;
    transition: all 300ms;
}
.contenidoHome__link {
    font-size: 40px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    background-color: rgba(0, 0, 0, 0.486);
    border: 2px solid rgb(255, 255, 255);
    border-radius: 15px;
    
}

.contenidoHome__link:hover {
    color: #00c3ff;
    border: 2px solid #00c3ff;
}

/* estilo pagina de proyecto */
.proyectos {
        background: linear-gradient(135deg, rgba(0, 32, 36, 0.774) 20%, rgba(10, 173, 255, 0.733) 50%, rgba(16, 178, 211, 0.486) 100%), url(./pages/Media/fondoproyectos.jpg) ;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        min-height: calc(100vh - 80px);
        background-size: 200%;
        animation: fondoanimado 90s infinite;
}

.contenedorProyectos__titulo {
    color: rgb(252, 40, 40);
    padding-bottom: 15px;
    text-align: center;

}

.contenedorProyectos__parrafo {
    font-weight:bold;
    font-size: large;
    text-align: center;
    color: rgb(255, 255, 255);
}

.contenedorProyectos {
    color: rgb(0, 0, 0);
    width: 600px;
    height: auto;
    font-size: 13px;
    text-transform: uppercase;
    margin-top: 50px;
    background-color: rgba(0, 0, 0, 0.377);
    border-radius: 50px ;
}

.ContenedorImagen {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 400px;
    padding-top: 70px;
    padding-bottom: 40px;
}

.contenedor-item {
    height: auto;
    width: auto;
}

.ContenedorImagen_elemento {
    width: 409px;
    height: 309px;
    object-fit: cover;
    margin: 10px;
    transition: all 300ms;
}

.ContenedorImagen_elemento:hover {
    transform: scale(1.2);
}

/* estilo pagina de servicios */
.servicios {
    background-image: url(./pages/Media/fondoservicios.jpg);
    background-size: cover;
    min-height: calc(100vh - 100px);
}

.titulo {
    color: rgb(0, 0, 0);
    display:inline-block;
    vertical-align: middle;
    position: relative;
    padding-top: 20px;
    padding-left: 1000px;
    padding-right: 1000px;
    font-size: 25px;
    text-align: center;
    text-transform: uppercase;
}

.contenedorServicios {
    height: 400px;
    width: 500px;
    float:right;
    margin-top: 250px;
    margin-right: 50%;
    margin-left: 50%;
}
.contenedorServicios__elemento {
    font-family: 'Lemonada', cursive;
    vertical-align: middle;
    float: right;
    height: 200px;
    width: 300px;
    position: relative;
    padding: 30px 30px 30px 30px;
    font-size: 13px;
    text-align: center;
    text-transform: uppercase;

}

.contenedorServicios__elemento-titulo{
    color: rgba(255, 5, 5, 0.897);
    text-transform: uppercase;
    
}

/* estilo pagina de contacto*/

.banner-contacto {
    background: linear-gradient(135deg, rgba(0, 32, 36, 0.774) 20%, rgba(10, 173, 255, 0.733) 50%, rgba(16, 178, 211, 0.486) 100%), url(./pages/Media/fondocontacto.jpg) ;
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
    width: auto;
    background-size: 200%;
    animation: fondoanimado 90s infinite;
}

.formulario {
    margin-top: 106px;
}

section {
    display: flex;
    height: 600px;
}

.contenedor-form{
    background-color: rgba(255, 255, 255, 0.534);
    padding: 100px 10px;
    border-radius: 10px;
}

.container-fluid {
    padding: 0px;
}


.form_titulo {
    font-size: 2rem;
    margin-bottom: .5em;
}


form span {
    color: rgb(255, 0, 0);
}




/* Estilo footer general*/
footer {
    min-height:100px !important;
    
    }

        /* RESPONSIVE */

@media only screen and (max-width: 1366px){

    .ContenedorImagen {
        grid-template-columns: repeat(2, 1fr);

    }

    .ContenedorImagen_elemento:hover {
        transform: scale(1.5);
    }


    .logo {
        font-size: 26px;
        padding-left: 20px; 
    }

    .contenidoHome{
        height: auto;
        font-size: 23px;
    }


    .nav-menu-item {
        font-size: 18px;
        padding: 40px 20px;
    }  

    .ContenedorImagen_elemento {
        width: 359px;
        height: 259px;
        margin: 15px;
    }



}

@media only screen and (max-width: 992px) {

    /* Menu pagina tablet/mobile */

    .logo {
        font-size: 20px !important;
        padding: 0 0px !important;
        padding-top: 10px;
        
    }

    /* estilo pagina  tablet */
    
    .banner-image{
        background-size: 600%;
    }

    .banner-contacto{
        background-size: 600%;
    }
    .contenidoHome__titulo {
        font-size: 27px;
    }

    .contenidoHome__link {
        font-size: 27px;
    }

    .proyectos {
        background-size: 500%;
    }

    .contacto {
        background-size: 500%;
    }
    
    .contenidoHome {
        margin-top: 100px;
        padding-top: 0px;
        font-size: 22px;
        
    }
    .ContenedorImagen_elemento:hover {
        transform: none;
    }
    

    
    .contenedorProyectos {
        width: auto;
    
    }

    .ContenedorImagen {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto;
        padding-top: 40px;
        
        
    }

    .ContenedorImagen_elemento {
        width: 359px;
        height: 259px;
        
    }
    
    .contenedor-item {
        margin: 2px;
    }

    .form {
    width: 440px;
    }

    .form_input {
    width: 70%;
    }
    .form_titulo {
        font-size: 1.4em;
    }
}

/* Estilo de pagina Mobile */

@media only screen and (max-width: 640px) {

    .logo {
        font-size: 18px !important;
    }


    .ContenedorImagen {
        grid-template-columns: repeat(1, 1fr);
    }

    .banner-contacto{
        background-size: 800%;
    }


    .contenidoHome__titulo {
        font-size: 18px;
    }

    .contenidoHome__link {
        font-size: 18px;
    }
    .contenedorProyectos p {
        font-size: 0.8rem;
    }

    .footer small {
        font-size: 15px;
    }
    


    .form {
        width: 65%;
        max-width: 300px;
        padding: 0.4em 0.9em;
}

    .selector {
        width: 80%;
}

    .form_input {
        width: 80%;
        padding: .3em .2em;


}

    .form_enviar {
        width: 70%;
}

    .textarea {
        width: 90%;
}

    .form_enviar {
        width: 100%;
}

    .form label {
        font-size: 12px;
}
    .form legend {
        font-size: 12px;
}

    .form_titulo {
        font-size: 1.1rem;
}
    
}